html, body, .row {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
}




/*NavBar*/

li a {
	text-decoration: none;
	color: #00a3da;
}

.logo {
	width: 100%;
	padding: 10%;
}

li {
	margin: 10px;
	font-size: 20px;
}

.subLi {
	margin-left: 30px;
}

/*Content*/

h1 {
	font-size: 30px;
	margin-top: 10px;
	font-weight: 900;
	padding-bottom: 20px;
}

h3 {
	font-size: 25px;
	margin-top: 10px;
	font-weight: 700;
	border-top: 2px solid black;
	padding-bottom: 10px;
}

pre {
	font-family: 'Source Code Pro', monospace;
	padding-top: 10px;
	padding-bottom: 10px;
}

.codeType {
	font-family: 'Source Code Pro', monospace;
	color: yellow;
}

.codeTypeModal {
	font-family: 'Source Code Pro', monospace;
	color: red;
}

.codeValueModal {
	font-family: 'Source Code Pro', monospace;
	color: green;
}

.modalLink {
	color: orange;
	font-weight: 700;
	cursor: pointer;
}

.leftH3 {
	border-top: 2px solid white;
}

h4 {
	font-size: 20px;
	margin-top: 10px;
	font-weight: 200;
}

p {
	font-size: 18px;
	margin-top: 10px;
	padding-left: 30px;
}

pre {
	margin-top: 10px;
	padding-left: 30px;
}

.string { 
	color: green; 
}

.number { 
	color: darkorange; 
}

.boolean { 
	color: blue; 
}

.null { 
	color: magenta; 
}

.key { 
	color: red; 
}

th {
	font-size: 20px;
	font-weight: 600;
	width: 30%;
}

td strong {
	font-weight: 700;
}

#override table {
	margin-top: 10px;
	padding-left: 30px;
}

.leftSide {
	background-color: #00a3da;
	color: white;
	height: 100%;
	min-height: 100%
}

.rightSide {
	background-color: white;
	color: black;
	height: 100%;
	min-height: 100%
}

.collapseButton {
	cursor: pointer;
}

.height_users > * {
    min-height: 250px;
}

.height_users_userId > * {
    min-height: 250px;
}

.height_users_userId_locks > * {
	min-height: 535px;
}

footer {
  text-align: center;
  padding: 15px;
}
